.card-pomodoro {

    width: 500px;

    .pomodoro-progress {
        display: flex;
    }

    .pomodoro-commands {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h4, h2 {
        text-align: center;
    }

    .pomodoro-icon {
        display: flex;
        padding: 24px;

        img {
            width: 40%;
            margin: auto;
        }
    }

    @media (max-width: 500px) {
        width: 100%;
    }
}